<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isadorasilva.myapp.quartetoelegante">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="CIRCO QUARTETO ELEGANTE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuartetoElegante">

        <!-- Activity principal com o launcher -->
        <activity
            android:name=".CadastroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Outras atividades -->
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".DatasActivity" android:exported="true" />
        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".PagamentoActivity" android:exported="true" />
        <activity android:name=".CartaoActivity" android:exported="true" />
        <activity android:name=".PixActivity" android:exported="true" />
        <activity android:name=".BoletoActivity" android:exported="true" />

    </application>

</manifest>
